

.coluna2{
border: solid black 2px;
background-color: white;
display:table-cell ;
padding:10px ;
}

.coluna3{
    border: solid black 2px;
    background-color:#E0E0E0 ;
    display:table-cell ;
    padding:10px ;
    }
    
    .coluna{
        border: solid black 2px;
        background-color:#E0E0E0;
        display:table-cell ;
        padding:10px ;
        }
        



